.feed{
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    padding-left: 0px;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed::-webkit-scrollbar{
    -ms-overflow-style: none;
    display: none;
}

.feed_header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-background);
    padding: 15px 20px;
}